# an example runtime config file
host_addr 10.10.1.5
host_netmask 255.255.255.0
host_mac 9c:dc:71:56:fd:95
host_gateway 10.10.1.1
runtime_kthreads 4
runtime_spinning_kthreads 4
runtime_guaranteed_kthreads 4
runtime_priority lc
static_arp 10.10.1.1 9c:dc:71:5d:d5:71
static_arp 10.10.1.2 9c:dc:71:5e:2f:e1
static_arp 10.10.1.3 9c:dc:71:5d:40:f1
static_arp 10.10.1.4 9c:dc:71:5d:12:11
