[submodule "caladan/dpdk"]
	path = caladan/dpdk
	url = http://dpdk.org/git/dpdk
[submodule "caladan/spdk"]
	path = caladan/spdk
	url = https://github.com/spdk/spdk
[submodule "caladan/rdma-core"]
	path = caladan/rdma-core
	url = https://github.com/linux-rdma/rdma-core
[submodule "caladan/deps/pcm"]
	path = caladan/deps/pcm
	url = https://github.com/opcm/pcm.git
